{%- comment -%}
  Swiper wrapper shim
  Ensures each product media item is a .swiper-slide
{%- endcomment -%}

<div class="swiper-slide" data-index="{{ loopIndex0 }}" data-media-id="{{ media.id }}">
  {%- render 'media-inner',
    section_id: section_id,
    media: media,
    featured_media: featured_media,
    loopIndex0: loopIndex0,
    loopIndex: loopIndex,
    product_zoom_enable: product_zoom_enable,
    product_zoom_size: product_zoom_size,
    product_image_size: product_image_size,
    isModal: isModal,
    video_looping: video_looping,
    video_style: video_style
  -%}
</div>
